MONGODB_URI=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OPENAI_API_KEY=
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# External Media APIs
PEXELS_API_KEY=

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
